[user]
	name = yolona-oss
	email = siisgoo@mail.ru
[core]
	editor = nvim
[init]
	defaultBranch = main
[credential]
	credentialStore = plaintext
[credential "https://dev.azure.com"]
	useHttpPath = true
[safe]
	directory = /opt/brew
