[user]
	name = siisgoo
	email = siisgoo@mail.ru
[core]
	editor = vim
[init]
	defaultBranch = main
[credential]
	helper = 
	helper = /usr/local/bin/git-credential-manager-core
	credentialStore = plaintext
[credential "https://dev.azure.com"]
	useHttpPath = true
[safe]
	directory = /opt/brew
