[Unit]
Description=qBittorrenti-nox service for user %I

Documentation=man:qbittorrent-nox(1)
After=network.target

[Service]
Type=simple
PrivateTmp=false
User=%i
ExecStart=/usr/bin/qbittorrent-nox

[Install]
WantedBy=multi-user.target
