[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Antichamber
GenericName=Antichamber
Comment=Antichamber
Icon=/home/xewii/games/Antichamber/AntichamberIcon.png
Exec="/home/xewii/games/Antichamber/Antichamber.sh"
Categories=Game;
Path=/home/xewii/games/Antichamber

