[Desktop Entry]
Name=Balsa
Name[ar]=Balsa
Name[bg]=Balsa
Name[ca]=Balsa
Name[cs]=Balsa
Name[da]=Balsa
Name[de]=Balsa
Name[dz]=བཱལ་ས་
Name[en_CA]=Balsa
Name[en_GB]=Balsa
Name[es]=Balsa
Name[et]=Balsa
Name[eu]=Balsa
Name[fi]=Balsa
Name[fr]=Balsa
Name[gl]=Balsa
Name[hu]=Balsa
Name[id]=Balsa
Name[it]=Balsa
Name[ja]=バルサ
Name[nb]=Balsa
Name[ne]=बाल्सा
Name[nl]=Balsa
Name[oc]=Balsa
Name[pa]=ਬਲਸਾ
Name[pl]=Balsa
Name[pt]=Balsa
Name[pt_BR]=Balsa
Name[ro]=Balsa
Name[sk]=Balsa
Name[sl]=Balsa
Name[sq]=Balsa
Name[sr]=Балса
Name[sr@latin]=Balsa
Name[sv]=Balsa
Name[tr]=Balsa
Name[uk]=Balsa
Name[vi]=Balsa
Name[wa]=Balsa
Name[zh_CN]=Balsa
Name[zh_HK]=Balsa
Name[zh_TW]=Balsa
Comment=Email utility
Comment[cs]=Nástroj pro elektronickou poštu
Comment[da]=E-mailredskab
Comment[de]=E-Mail-Programm
Comment[es]=Utilidad de correo-e
Comment[hu]=Levelezőprogram
Comment[id]=Utilitas surel
Comment[nb]=E-postverktøy
Comment[pl]=Klient poczty
Comment[pt_BR]=Utilitário de e-mail
Comment[sr]=Алат за е-пошту
Comment[sr@latin]=Alat za e-poštu
Comment[sv]=E-postverktyg
Comment[tr]=E-posta aracı
GenericName=Mail Client
GenericName[cs]=Poštovní klient
GenericName[da]=Mailklient
GenericName[de]=E-Mail-Client
GenericName[es]=Cliente de correo-e
GenericName[hu]=Levelezőkliens
GenericName[id]=Klien Surel
GenericName[nb]=E-postklient
GenericName[pl]=Klient poczty
GenericName[pt]=Cliente de correio
GenericName[pt_BR]=Cliente de e-mail
GenericName[ro]=Client de mail
GenericName[sl]=Odjemalec elektronske pošte
GenericName[sr]=Програм за е-пошту
GenericName[sr@latin]=Program za e-poštu
GenericName[sv]=E-postklient
GenericName[tr]=E-posta İstemcisi
X-GNOME-FullName=Balsa Mail Client
X-GNOME-FullName[cs]=Poštovní klient Balsa
X-GNOME-FullName[da]=Balsa e-mailklient
X-GNOME-FullName[de]=Balsa E-Mail-Client
X-GNOME-FullName[es]=El cliente de correo-e Balsa
X-GNOME-FullName[hu]=Balsa levelezőkliens
X-GNOME-FullName[id]=Balsa Klien Surel
X-GNOME-FullName[nb]=Balsa e-postklient
X-GNOME-FullName[pl]=Klient poczty Balsa
X-GNOME-FullName[pt]=O cliente de email Balsa
X-GNOME-FullName[pt_BR]=Cliente de e-mail Balsa
X-GNOME-FullName[ro]=Clientul de mail Balsa
X-GNOME-FullName[sl]=Odjemalec elektronske pošte Balsa
X-GNOME-FullName[sr]=Програм е-поште Балса
X-GNOME-FullName[sr@latin]=Program e-pošte Balsa
X-GNOME-FullName[sv]=Balsa e-postklient
X-GNOME-FullName[tr]=Balsa E-posta İstemcisi
TryExec=balsa
Exec=balsa -m %U
Icon=gnome-balsa2
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Network;Email;
MimeType=x-scheme-handler/mailto;
NoDisplay=true
