[Desktop Entry]
Name=Beholder
Comment=Play this game on Steam
Exec=steam steam://rungameid/475550
Icon=steam_icon_475550
Terminal=false
Type=Application
Categories=Game;
