[Desktop Entry]
Version=1.0
Type=Application
Exec=mono "/usr/lib/ckan/ckan.exe" gui %u
Icon=ckan
StartupNotify=true
NoDisplay=true
Terminal=false
Categories=Utility
MimeType=x-scheme-handler/ckan
Name=CKAN Launcher
Comment=Launch CKAN
