[Desktop Entry]
Name=Fallout
Comment=Play this game on Steam
Exec=steam steam://rungameid/38400
Icon=steam_icon_38400
Terminal=false
Type=Application
Categories=Game;
