[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Amnesia: The Dark Descent
GenericName=Amnesia: The Dark Descent
Comment=Amnesia: The Dark Descent
Icon=/home/xewii/games/Horror/Amnesia The Dark Descent/support/icon.png
Exec="/home/xewii/games/Horror/Amnesia The Dark Descent/start.sh" ""
Categories=Game;
Path=/home/xewii/games/Horror/Amnesia The Dark Descent

