[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Iconoclasts
GenericName=Iconoclasts
Comment=Iconoclasts
Icon=/home/xewii/games/Iconoclasts/support/icon.png
Exec="/home/xewii/games/Iconoclasts/start.sh" ""
Categories=Game;
Path=/home/xewii/games/Iconoclasts

