[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Momodora: Reverie Under the Moonlight
GenericName=Momodora: Reverie Under the Moonlight
Comment=Momodora: Reverie Under the Moonlight
Icon=/home/xewii/games/Momodora Reverie Under the Moonlight/support/icon.png
Exec="/home/xewii/games/Momodora Reverie Under the Moonlight/start.sh" ""
Categories=Game;
Path=/home/xewii/games/Momodora Reverie Under the Moonlight

