[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Undertale
GenericName=Undertale
Comment=Undertale
Icon=/home/xewii/games/Undertale/support/icon.png
Exec="/home/xewii/games/Undertale/start.sh" ""
Categories=Game;
Path=/home/xewii/games/Undertale

