[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Prison Architect
GenericName=Prison Architect
Comment=Prison Architect
Icon=/home/xewii/games/Prison Architect/support/icon.png
Exec="/home/xewii/games/Prison Architect/start.sh" ""
Categories=Game;
Path=/home/xewii/games/Prison Architect

