[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Sunless Skies
GenericName=Sunless Skies
Comment=Sunless Skies
Icon=/home/xewii/games/Sunless Skies/support/icon.png
Exec="/home/xewii/games/Sunless Skies/start.sh" ""
Categories=Game;
Path=/home/xewii/games/Sunless Skies

