[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Airships: Conquer the Skies
GenericName=Airships: Conquer the Skies
Comment=Airships: Conquer the Skies
Icon=/home/xewii/games/Airships Conquer the Skies/support/icon.png
Exec="/home/xewii/games/Airships Conquer the Skies/start.sh" ""
Categories=Game;
Path=/home/xewii/games/Airships Conquer the Skies

