[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Kerbal Space Program
GenericName=Kerbal Space Program
Comment=Kerbal Space Program
Icon=/home/xewii/games/Simulation/Kerbal Space Program 1.6/support/icon.png
Exec="/home/xewii/games/Simulation/Kerbal Space Program 1.6/start.sh" ""
Categories=Game;
Path=/home/xewii/games/Simulation/Kerbal Space Program 1.6

