[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Kerbal Space Program (Launcher)
GenericName=Kerbal Space Program (Launcher)
Comment=Kerbal Space Program (Launcher)
Icon=/home/xewii/games/Simulation/Kerbal Space Program 1.6/support/icon.png
Exec="/home/xewii/games/Simulation/Kerbal Space Program 1.6/start.sh" "--launcher"
Categories=Game;
Path=/home/xewii/games/Simulation/Kerbal Space Program 1.6

