[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Stellaris
GenericName=Stellaris
Comment=Stellaris
Icon=/home/xewii/games/Stellaris/support/icon.png
Exec="/home/xewii/games/Stellaris/start.sh" ""
Categories=Game;
Path=/home/xewii/games/Stellaris

