[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Hotline Miami 2: Wrong Number
GenericName=Hotline Miami 2: Wrong Number
Comment=Hotline Miami 2: Wrong Number
Icon=/home/xewii/games/Beat'em up/Hotline Miami 2 Wrong Number/support/icon.png
Exec="/home/xewii/games/Beat'em up/Hotline Miami 2 Wrong Number/start.sh" ""
Categories=Game;
Path=/home/xewii/games/Beat'em up/Hotline Miami 2 Wrong Number

