[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=else Heart.Break()
GenericName=else Heart.Break()
Comment=else Heart.Break()
Icon=/home/xewii/games/else Heart Break/support/icon.png
Exec="/home/xewii/games/else Heart Break/start.sh" ""
Categories=Game;
Path=/home/xewii/games/else Heart Break

