[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Darkest Dungeon
GenericName=Darkest Dungeon
Comment=Darkest Dungeon
Icon=/home/xewii/games/Darkest Dungeon/support/icon.png
Exec="/home/xewii/games/Darkest Dungeon/start.sh" ""
Categories=Game;
Path=/home/xewii/games/Darkest Dungeon

