[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Pillars of Eternity
GenericName=Pillars of Eternity
Comment=Pillars of Eternity
Icon=/home/xewii/games/Pillars of Eternity/support/icon.png
Exec="/home/xewii/games/Pillars of Eternity/start.sh" ""
Categories=Game;
Path=/home/xewii/games/Pillars of Eternity

