[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Sundered
GenericName=Sundered
Comment=Sundered
Icon=/home/xewii/games/Sundered/support/icon.png
Exec="/home/xewii/games/Sundered/start.sh" ""
Categories=Game;
Path=/home/xewii/games/Sundered

