[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Trine 2: Complete Story
GenericName=Trine 2: Complete Story
Comment=Trine 2: Complete Story
Icon=/home/xewii/games/Trine 2 Complete Story/support/icon.png
Exec="/home/xewii/games/Trine 2 Complete Story/start.sh" ""
Categories=Game;
Path=/home/xewii/games/Trine 2 Complete Story

