[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=The Whispered World: Special Edition
GenericName=The Whispered World: Special Edition
Comment=The Whispered World: Special Edition
Icon=/home/xewii/games/The Whispered World Special Edition/support/icon.png
Exec="/home/xewii/games/The Whispered World Special Edition/start.sh" ""
Categories=Game;
Path=/home/xewii/games/The Whispered World Special Edition

