[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Invisible Inc.
GenericName=Invisible Inc.
Comment=Invisible Inc.
Icon=/home/xewii/games/Invisible Inc/support/icon.png
Exec="/home/xewii/games/Invisible Inc/start.sh" ""
Categories=Game;
Path=/home/xewii/games/Invisible Inc

