[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=FEZ
GenericName=FEZ
Comment=Gomez is a 2D creature living in a 2D world. Or is he?
Icon=/home/xewii/games/fez/FEZ.bmp
Exec="/home/xewii/games/fez/FEZ"
Categories=Game
Path=/home/xewii/games/fez

