[Desktop Entry]
Name=Star Conflict
Comment=Play this game on Steam
Exec=steam steam://rungameid/212070
Icon=steam_icon_212070
Terminal=false
Type=Application
Categories=Game;
