[Desktop Entry]
Version=1.0
Type=Application
Name=Tor Browser (en-US)
Exec=/usr/bin/tor-browser
Icon=tor-browser
Categories=Network;
Comment=Anonymous browsing using Firefox and Tor
