[Desktop Entry]
Type=Application
Name=rundll32
MimeType=application/x-wine-extension-appref-ms;
Exec=env WINEPREFIX="/home/xewii/.local/share/wineprefixes/osu" wine start /ProgIDOpen Application.Reference %f
NoDisplay=true
StartupNotify=true
Icon=1CD8_rundll32.0
