[Desktop Entry]
Type=Application
Name=A Wine application
MimeType=application/x-wine-extension-compositefont;
Exec=env WINEPREFIX="/home/xewii/.local/share/wineprefixes/osu" wine start /ProgIDOpen Windows.CompositeFont %f
NoDisplay=true
StartupNotify=true
